<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lógica e Algoritmos - Exercícios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link href="css/meu-estilo.css" rel="stylesheet">
    <script type="text/javascript" src="js/executar.js" defer></script>

</head>

<body>

    <!-- seu codigo comeca aqui -->
    <header class="container px-0">
        <div class="row bg-light px-0">
            <div class="col-2">
                <div class="bg-light">
                    <img src="img/logicaalgoritmo.png" alt="lógica e algoritmo">
                </div>
            </div>
            <div class="col-10">
                <h2 class="display-4 align-middle">UC01 - Lógica e Algorimos</h2>
            </div>
        </div>
    </header>

    <main class="container m-2 w-75 mx-auto my-font-family">
        <div class="row">
            <div class="col text-center m-0">
                <h2 class="mt-2 mb-5 my-h2">Exercícios Sequenciais</h2>
            </div>
        </div>

        <div class="row mb-5 align-center">
            <div class="col-md"></div>
            <div class="col-md">
                <div class="card" style="width: 16rem;" id="idCard">
                    <img class="card-img-top" src="img/check-mark.png" alt="Imagem de capa do card">
                    <div class="card-body text-center">
                        <p class="card-text">Clique aqui para executar</p>
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>

        <div class="row mt-2 mb-2" id="idAlertRow" style="display: none;">
            <div class="col">
                <div class="alert alert-success alert-dismissible" role="alert" id="idAlerta">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
        </div>
<!--
        <div class="alert alert-success" id="myAlert" style="display: none;">
            This is a Bootstrap alert.
            <button type="button" class="close" onclick="hideAlert()">&times;</button>
          </div>
          <button type="button" class="btn btn-primary" onclick="showAlert()">Show Alert</button>
        </div>
    -->
    </main>

    <footer class="container text-center mt-6">
        <div class="row border-top border-primary bg-light">
            <div class="col font text-primary copyright">
                <p>&copy; Copyright Marcos Ferreira</p>
            </div>
        </div>
    </footer>

    <!-- seu codigo termina aqui -->

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>

    
</body>

</html>